body{
    background-color: #ebedf0;
}


#pageIcon{
    height: 80px;
}


.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 15px 3px #8a8a8a;
}

.myRow{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}